# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fxvbvplnucrcamnfblol.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6dXipVoXT0QvoQUz2s7l0w__qU_IGxp
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4dmJ2cGxudWNyY2FtbmZibG9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NjUwMTMsImV4cCI6MjEwNTA0MTAxM30.rhhbTtgUf8rRjY615MorQKFz0_Ud3xY7JmzZ3Mw3NQo

# Vite Compatible Keys
VITE_SUPABASE_URL=https://fxvbvplnucrcamnfblol.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6dXipVoXT0QvoQUz2s7l0w__qU_IGxp
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4dmJ2cGxudWNyY2FtbmZibG9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NjUwMTMsImV4cCI6MjEwNTA0MTAxM30.rhhbTtgUf8rRjY615MorQKFz0_Ud3xY7JmzZ3Mw3NQo
